**/target/
**/build/
**/bin/
**/python-env/
.classpath
.project
.settings
.DS_Store
*.iml
*.ipr
*.iws
*.log
*_konfigurace.yaml
.springBeans
.pydevproject
*~
*_trace
.cache-main
.cache-tests
.idea
.factorypath
.gradle
mvndep.py
